.Heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 30%;
  border-right: 10px solid #00205b;
  height: 100%;
}

.round {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
