.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.Content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.bold {
  font-weight: bold;
}
